.Weather {
  border: rgb(93, 83, 130) 1px solid;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(232, 230, 240, 0.806);
}

.Weather form {
  margin-bottom: 20px;
  border-radius: 5px;
}
.Weather h1 {
  font-size: 32px;
  line-height: 29px;
  color: coral;
  text-shadow:
    -1px 0 rgb(93, 83, 130),
    0 1px rgb(93, 83, 130),
    1px 0 rgb(93, 83, 130),
    0 -1px rgb(93, 83, 130);
  font-weight: 600;
  margin-bottom: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-family: arial;
  font-weight: 100;
  color: rgb(132, 131, 131);

  padding: 0;
}
.Weather img {
  height: 90px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
}
.Weather .unit {
  position: relative;
  top: -12px;
}
